<table align="center" width=100%>
    <tr>
        <td width="15%">
            <img src="GL-2.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b> Take-Home <br>(Day 3)
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Let's begin with some hands-on practice exercises**

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. Write a program to print the following pattern (use for loop)</b>
                    <br>
                 </font>
            </div>
        </td>
    </tr>
</table>

                                            A  
                                            B C  
                                            D E F  
                                            G H I J  
                                            K L M N O  
                                            P Q R S T U

In [21]:
# type your code here

num=int(input("enter no . of rows"))
y=ord("A")
for i in range(num):
    for j in range(i+1):
        print(chr(y),end=" ")
        y+=1
    print()

enter no . of rows6
A
B C
D E F
G H I J
K L M N O
P Q R S T U

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Write a program to print tables from 2 to a user provided range (use for loop)</b>
                 </font>
            </div>
        </td>
    </tr>
</table>

In [28]:
# type your code here
r=int(input("enter a range "))
for i in range(2,r):
    for j in range(1,11):
        print(f"{i}x{j}={i*j}")

enter a range 5
2x1=2
2x2=4
2x3=6
2x4=8
2x5=10
2x6=12
2x7=14
2x8=16
2x9=18
2x10=20
3x1=3
3x2=6
3x3=9
3x4=12
3x5=15
3x6=18
3x7=21
3x8=24
3x9=27
3x10=30
4x1=4
4x2=8
4x3=12
4x4=16
4x5=20
4x6=24
4x7=28
4x8=32
4x9=36
4x10=40

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Consider the given two tuples. Divide corresponding elemets of two tuples and print the result as tuple (use zip())</b>
                 </font>
            </div>
        </td>
    </tr>
</table>

   **The original tuple 1 : (10, 4, 6, 9)**

   **The original tuple 2 : (5, 2, 3, 3)**

   **Output: (2, 2, 2, 3)**

In [2]:
# type your code here
tuple_1 =(10, 4, 6, 9)

tuple_2=(5, 2, 3, 3)

In [4]:
for i in zip(tuple_1,tuple_2):
    print(i[0]/i[1])

2.0
2.0
2.0
3.0

In [4]:
for i,j in zip(tuple_1,tuple_2):
    print(int(i/j))

2
2
2
3

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Use list comprehension to find words whose length is less than 5 from the given multi-dimensional list</b>
                    <br>
                </font>
            </div>
        </td>
    </tr>
</table>

**astro = [['sky', 'sun', 'moon'], ['star', 'Jupiter', 'mars'], ['Jupiter', 'Neptune', 'Pluto']] **

In [7]:
# type your code here
astro = [['sky', 'sun', 'moon'], ['star', 'Jupiter', 'mars'], ['Jupiter', 'Neptune', 'Pluto']]

In [11]:
[[word for word in list1 if len(word)<5] for list1 in astro]

[['sky', 'sun', 'moon'], ['star', 'mars'], []]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Write a program to append a dictionary to a tuple</b>
                 </font>
            </div>
        </td>
    </tr>
</table>

**The original tuple : (4, 5, 6)**

**Tuple after addition of dictionary : (4, 5, 6, {'gfg': 1, 'is': 2, 'best': 3})**

In [5]:
# type your code here
original_tup=(4,5,6)
t=list(original_tup)
d={'gfg': 1, 'is': 2, 'best': 3}
t.append(d)
print(tuple(t))

(4, 5, 6, {'gfg': 1, 'is': 2, 'best': 3})

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6. Write a program to check whether two strings are anagram or not (take input from user)</b>
                 </font>
            </div>
        </td>
    </tr>
</table>

**Hint: An anagram of a string is another string that contains same characters, only the order of characters can be different.**

In [6]:
# type your code here
s1=str(input(" enter a string:  "))
s2=str(input("enter a string: "))
if sorted(s1)==sorted(s2):
    print("anagram")
else:
    print("not anagram")

 enter a string:  act
enter a string: cat
anagram

In [1]:
s1=str(input(" enter a string:  "))
s2=str(input("enter a string: "))
if sorted(s1)==sorted(s2):
    print('ana')
else:
    print('not ana')

 enter a string:  cat
enter a string: act
ana

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. Write a program to remove space from keys of the given dictionary (use for loop)  </b>
                 </font>
            </div>
        </td>
    </tr>
</table>

**fruity = {'Fruits 01' : 'Apple', 'Fruits 02' : 'Orange', 
                'Fruits 0 3 ': 'Grapes'}**

**(Output) New dictionary :   {'Fruits01': 'Apple', 'Fruits02': 'Orange', 'Fruits03': 'Grapes'}**

In [14]:
# type your code here
fruity = {'Fruits 01' : 'Apple', 'Fruits 02' : 'Orange', 'Fruits 0 3 ': 'Grapes'}

new_dict={}

for i in fruity.keys():
    key = i.replace(' ','')
    new_dict[key] = fruity[i]
print(new_dict)

{'Fruits01': 'Apple', 'Fruits02': 'Orange', 'Fruits03': 'Grapes'}

In [2]:
fruity = {'Fruits 01' : 'Apple', 'Fruits 02' : 'Orange', 'Fruits 0 3 ': 'Grapes'}
nd={}
for i in fruity.keys():
    key=i.replace(' ','')
    nd[key]=fruity[i]
print(nd)

{'Fruits01': 'Apple', 'Fruits02': 'Orange', 'Fruits03': 'Grapes'}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. Write a program to transpose a matrix using list comprehension</b>
                 </font>
            </div>
        </td>
    </tr>
</table>

**matrix=[[1,2],[3,4],[5,6],[7,8]]**<br>
**Output: [[1, 3, 5, 7], [2, 4, 6, 8]]**

In [1]:
# type your code here
m=[[1,2],[3,4],[5,6],[7,8]]

[[row[i] for row in m] for i in range(2)]

[[1, 3, 5, 7], [2, 4, 6, 8]]

In [4]:
m=[[1,2],[3,4],[5,6],[7,8]]

[[row[i] for row in m ] for i in range(2)]

[[1, 3, 5, 7], [2, 4, 6, 8]]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Write a program to add the cubes of first 5 positive integers (use while loop)</b>
                 </font>
            </div>
        </td>
    </tr>
</table>

In [7]:
# type your code here

n=5
i=1
sum=0
while(i<=5):
    i1=i**3
    sum+=i1
    i+=1
print("sum is : " ,sum)

sum is :  225

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Write a program to create a 5x3 matrix with values in each row as 1,2, and 3 (use list comprehension)</b>
                    <br>
                 </font>
            </div>
        </td>
    </tr>
</table>

In [5]:
# type your code here
s=[1,2,3]
[[i for i in range(1,4)] for j in range(0,5)]

[[1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3]]